<div class="container">
	<div id="email-header">
		<%#= image_tag "logo.png", class: "logo" %>
	</div>
	<div class="body">
		<div class="content">
		    <h1>Thank you for your booking: <%= @space.name %>.</h1>
			<p>Hi, <%= @booker.name %>.</p>
		    <p class="last">Please wait for a while to get approved of your booking request.</p>
		    <%= link_to "Go to the website & check your booking status", bookings_url, class: "btn", target: "_blank" %>
		    <p class="contact">Contact to <a href="mailto:admin@skill4.space?Subject=Inquiry" target="_top">Help center</a></p>
 		</div>
	</div>
	<div id="email-footer">
		<p>Copyright©2017 skill4.space</p>
	</div>
</div>
