<div class="container">
	<div id="email-header">
		<%#= image_tag "logo.png", class: "logo" %>
	</div>
	<div class="body">
		<div class="content">
			<p><p>Hi <%= @receiver.name %>.</p>
		    <p class="last">You've got a new message from <%= @sender.name %>.</p>
		    <%= link_to "Go to the website & check messages", root_url, class: "btn"%>
		    <p class="contact">Contact to <a href="mailto:admin@skill4.space?Subject=Inquiry" target="_top">Help center</a></p>
 		</div>
	</div>
	<div id="email-footer">
		<p>Copyright©2017 skill4.space</p>
	</div>
</div>