<div class="container">
  <div class="row">
    <h1>Welcome to Skill4space!!</h1>

    <p>Hi <%= @user.email %>,</p>
    <p>Vist our website to rent workspace with your skills!</p>

    <%= link_to "Back to the website", root_url, class: "btn btn-success"%>
  </div>
</div>
