// Specific CSS for your home-page
.banner {
  text-align: center;
  height: calc(100vh - 180px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 58px;
    color: white;
  }
  select {
    background: transparent;
    color: #A6A6A6;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn {
    color: $green;
    background: transparent;
    display: block;
    margin: 10px auto;
    width: 68%;
    border-radius: 5px;
    &:hover {
      background: $green;
      color: white;
      transition: 0.3s;
    }
  }
}

.typewriter {
  h1 {
    width: 100%;
    margin: 0 0 30px 0;
    height: 1em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    // border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  span.wrap {
    color: $green;
  }
  a:hover {
    text-decoration: none;
    color: $green;
    cursor: default;
  }
}

.banner-content {
  .form-wrapper {
    margin-top: 40px;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}