// Specific CSS for your home-page
.banner {
  text-align: center;
  height: calc(100vh - 180px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 58px;
    color: white;
        text-shadow: 1px 1px 1px #747474;
  }
  select {
    background: transparent;
    color: #EDF4F5;
    border-color: #EDF4F5;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn {
    color: $green;
    background: transparent;
    display: block;
    margin: 10px auto;
    width: 68%;
    border-radius: 5px;
    &:hover {
      background: $green;
      color: white;
      transition: 0.3s;
    }
  }
}

.typewriter {
  h1 {
    width: 100%;
    margin: 0 0 30px 0;
    height: 1em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    // border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  span.wrap {
    color: $green;
  }
  a:hover {
    text-decoration: none;
    color: $green;
    cursor: default;
  }
}

.banner-content {
  .form-wrapper {
    margin-top: 40px;
    .form-top {
      width: 33%;
    }
  }
}

.home-content {
  height: 100%;
  .explanation {
    padding: 50px;
  }
  .lead {
    font-size: 24px;
    margin: 0;
  }
  .last {
    margin-bottom: 20px;
  }
  .chatting {
    width: 100%;
  }
  .says {
    display: inline-block;
    position: relative; 
    margin: 6px auto;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
  }
  .left:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }
    .right:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    right: -24px;
    border: 12px solid transparent;
    border-left: 12px solid #d7ebfe;
  }
  .says p {
    margin: 0;
    padding: 0;
  }
}
.exp {
  min-height: 500px;
  font-weight: lighter;
  display: flex;
  justify-content: flex-star;
  h2 {
    margin-top: 0;
  }
  .content {
    margin: auto;
    padding: 50px;
  }
  .exp-img {
    width:50%;
    height: auto;
  }
  .exp-text{
    width: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    // padding: 40px;
  }
  .exp-btn {
    margin-top: 24px;
  }
  .btn {
    border-radius: 3px;
  }
  .btn-option {
    font-weight: lighter;
    font-size: 14px;
    margin-right: 6px;
  }
}
.home-recommend {
  height: 600px;
  padding: 40px;
  h2 {
    margin-bottom: 30px;
  }
  .row-cards:last-child {
    margin-bottom: 100px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}