// _new.scss
.signup-container {
  margin-top: 70px;
  color: $green;
  h2 {
    margin-bottom: 42px;
  }
  p {
    margin: 0;
  }
  .new-form {
    border: $green solid 1px;
    border-radius: 20px;
    padding: 30px 50px 50px 50px;
  }
  // a {
  //   margin-top: 10px;
  //   color: $green;
  //   a.btn {
  //     &:hover {
  //       color: $green;
  //       text-decoration: underline;
  //     }
  //   }
  // }
  .btn {
    width: 100%;
    margin-top: 10px;
    // margin-bottom: 10px;
  }
  .links {
    a:first-child {
      margin-bottom: 20px;
    }
  }
  .fb {
    background-color: #4862A3;
    border-color: #4862A3;
    opacity: 1.0;
  }
  .fb:hover {
    opacity: 0.8;
  }
}
