.profile-container {
  margin-top: 50px;
  h1 {
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    margin: 0;
    padding: 0;
    border-radius: 3px;
    display: flex;
    flex-wrap: multiple;
    justify-content: flex-start;
  }
  .profile-skill {
    margin: 0;
    padding: 0;
    p  {
      margin-left: 5px;
    }
  }
  .skill-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .actions {
    
    a, i{
      display: inline-block;
      margin-left: 4px;
    }
  }
}

.left-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 20px 0;
  }
  .btn {
    width: 80%;
    margin-bottom: 10px;
    &:first-child {
      width: auto;
    }
  }
}

.right-profile {
  margin-left: 50px;
}

.profile-head {
  display: flex;
  justify-content: space-between;
  .btn {
    margin-top: 20px;
  }
}

.profile-avatar {
  width: 200px;
  height: auto;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
}

.profile-review {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  .review-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .review-right {
    margin-left: 30px;
  }
  h3 {
    margin-top: 40px;
  }
  h4 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  .stars>ul>li {
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    .fa-star {
      color: #767676;
    }
    .starred {
      color: #F4BC2B;
    }
  }
}

.reviewer-avatar {
  width: 60px;
  height: 60px;
}